## NLL Floor Players Stats Cleaning

Work by Alexander Palensky

For questions, 
contact me on [Twitter](https://twitter.com/AlPalensky)
or view my [Kaggle Account](https://www.kaggle.com/apalensky) for supplemental content

In [2]:
import numpy as np
import pandas as pd
import datetime
from datetime import date
import re

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [4]:
df = pd.read_csv('NLLFloorPlayersGameStats.csv')

In [5]:
split1 = df['Name'].str.split('\n ', n = 1, expand = True)
df['Name'] = split1[0]
df['Captain'] = split1[1]

In [6]:
df = df[(df.Name != 'Totals:') & (df['Name'] != 'Name')]
df.head(20)

,Unnamed: 0,#,Name,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO,TOF,Date,Location,Day,Team,Captain
0,0,0,T.Welsh,2,0,0,4,0,0,3,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
1,1,0,P.Welsh,0,0,0,2,0,0,5,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
2,2,0,J.Tucker,2,0,0,2,0,0,6,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
3,3,0,R.Sowell,0,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
4,4,0,D.Smith,0,0,0,0,0,0,3,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
5,5,0,T.Millon,1,0,0,2,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
6,6,0,B.Marino,1,1,0,0,0,0,1,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
7,7,0,T.Manos,0,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
8,8,0,B.Kroneberger,1,0,0,0,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
9,9,0,M.Kerwick,1,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
10,10,0,J.Jackson,0,0,0,0,0,0,2,0,0,3-3,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
11,11,0,F.Haas,0,1,0,0,0,0,0,0,0,7-7,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
12,12,0,R.Fried,0,1,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
13,13,0,T.Curry,0,2,0,2,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
14,14,0,D.Britton,0,1,0,0,0,0,2,0,0,2-2,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
15,15,0,J.Blanding,1,0,0,0,0,0,5,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
16,16,0,V.Angotti,0,0,0,0,0,0,7,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
17,17,0,D.Lee,0,0,0,0,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
20,20,0,V.Pfeifer,0,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,New York Roster,None
21,21,0,V.Sombrotto,0,0,0,0,0,0,12,0,0,-,NaN,1993-03-28,New York,Sun,New York Roster,None

In [7]:
df = df.reset_index()
df.head(20)

,index,Unnamed: 0,#,Name,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO,TOF,Date,Location,Day,Team,Captain
0,0,0,0,T.Welsh,2,0,0,4,0,0,3,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
1,1,1,0,P.Welsh,0,0,0,2,0,0,5,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
2,2,2,0,J.Tucker,2,0,0,2,0,0,6,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
3,3,3,0,R.Sowell,0,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
4,4,4,0,D.Smith,0,0,0,0,0,0,3,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
5,5,5,0,T.Millon,1,0,0,2,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
6,6,6,0,B.Marino,1,1,0,0,0,0,1,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
7,7,7,0,T.Manos,0,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
8,8,8,0,B.Kroneberger,1,0,0,0,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
9,9,9,0,M.Kerwick,1,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
10,10,10,0,J.Jackson,0,0,0,0,0,0,2,0,0,3-3,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
11,11,11,0,F.Haas,0,1,0,0,0,0,0,0,0,7-7,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
12,12,12,0,R.Fried,0,1,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
13,13,13,0,T.Curry,0,2,0,2,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
14,14,14,0,D.Britton,0,1,0,0,0,0,2,0,0,2-2,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
15,15,15,0,J.Blanding,1,0,0,0,0,0,5,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
16,16,16,0,V.Angotti,0,0,0,0,0,0,7,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
17,17,17,0,D.Lee,0,0,0,0,0,0,2,0,0,-,NaN,1993-03-28,New York,Sun,Baltimore Roster,None
18,20,20,0,V.Pfeifer,0,0,0,0,0,0,0,0,0,-,NaN,1993-03-28,New York,Sun,New York Roster,None
19,21,21,0,V.Sombrotto,0,0,0,0,0,0,12,0,0,-,NaN,1993-03-28,New York,Sun,New York Roster,None

In [8]:
split2 = df['FO'].str.split('-', n = 1, expand = True)

df['FO_W'] = split2[0]
df['FO_L'] = split2[1]

df.tail()

,index,Unnamed: 0,#,Name,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO,TOF,Date,Location,Day,Team,Captain,FO_W,FO_L
55146,59618,59618,82,J.Cupido,0,0,-3,0,2,0,6,2,1,-,18:07,2020-03-08,Colorado,Sun,Colorado Roster,(A),,
55147,59619,59619,86,J.Lintz,0,0,-1,2,0,0,1,0,0,-,16:21,2020-03-08,Colorado,Sun,Colorado Roster,None,,
55148,59620,59620,91,J.McNabb,0,2,4,0,3,4,2,2,1,-,11:03,2020-03-08,Colorado,Sun,Colorado Roster,None,,
55149,59621,59621,30,T.Carlson,0,0,NaN,0,0,0,3,1,0,-,NaN,2020-03-08,Colorado,Sun,Colorado Roster,None,,
55150,59622,59622,45,D.Ward,0,0,NaN,0,0,0,1,0,0,-,NaN,2020-03-08,Colorado,Sun,Colorado Roster,None,,

In [9]:
df = df[df.columns[[17, 15, 16, 2, 3, 19, 18, 4, 5, 6, 7, 8, 9, 10 , 11, 12, 20, 21, 14]]]

In [10]:
df.rename(columns={"FO_L": "FO"}, inplace = True)

In [11]:
split3 = df['Team'].str.split('Roster', n = 1, expand = True)
df['Team'] = split3[0]

In [12]:
df['Date'] = pd.to_datetime(df['Date'])

In [13]:
df.tail()

,Day,Date,Location,#,Name,Captain,Team,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO_W,FO,TOF
55146,Sun,2020-03-08,Colorado,82,J.Cupido,(A),Colorado,0,0,-3,0,2,0,6,2,1,,,18:07
55147,Sun,2020-03-08,Colorado,86,J.Lintz,None,Colorado,0,0,-1,2,0,0,1,0,0,,,16:21
55148,Sun,2020-03-08,Colorado,91,J.McNabb,None,Colorado,0,2,4,0,3,4,2,2,1,,,11:03
55149,Sun,2020-03-08,Colorado,30,T.Carlson,None,Colorado,0,0,NaN,0,0,0,3,1,0,,,NaN
55150,Sun,2020-03-08,Colorado,45,D.Ward,None,Colorado,0,0,NaN,0,0,0,1,0,0,,,NaN

In [14]:
for i in range(0,len(df)):
    if df['+/-'][i] == 'NaN':
        df.loc[i, '+/-'] = None
    if df.FO_W[i] == '':
        df.loc[i, 'FO_W'] = None
    if df.FO[i] == '':
        df.loc[i, 'FO'] = None
    if df.TOF[i] == 'NaN':
        df.loc[i, 'TOF'] = None

In [15]:
for i in range(0,len(df)):
    if df.Captain[i] == None:
        continue
    else:
        df.loc[i, 'Captain'] = df.Captain[i].strip().replace('(','').replace(')','')

In [16]:
df[["G", "A", "+/-", "PIM", "S", "SOFF", "LB", "T", "CT", "FO_W", "FO"]] = df[["G", "A", "+/-", "PIM", "S", "SOFF", "LB", "T", "CT", "FO_W", "FO",]].apply(pd.to_numeric)

In [17]:
for i in range(0, len(df)):
    if type(df.TOF[i]) == float:
        continue
    else:
        df.loc[i, 'TOF'] = int((df['TOF'][i]).split(':')[0]) + (int((df['TOF'][i]).split(':')[1]) / 60)

In [18]:
df.tail(50)

,Day,Date,Location,#,Name,Captain,Team,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO_W,FO,TOF
55101,Sun,2020-03-08,Georgia,21,B.Bomberry,None,Georgia,0,1,4.0,2,2,0,6,1,1,NaN,NaN,12.9167
55102,Sun,2020-03-08,Georgia,24,J.MacIntosh,C,Georgia,0,0,-7.0,2,2,1,5,1,1,4.0,16.0,24.45
55103,Sun,2020-03-08,Georgia,25,L.Stouros,None,Georgia,0,0,-3.0,0,0,0,3,0,1,NaN,NaN,16.3
55104,Sun,2020-03-08,Georgia,27,A.Wiedemann,None,Georgia,1,0,-2.0,0,2,1,6,1,1,NaN,NaN,11.3167
55105,Sun,2020-03-08,Georgia,28,Z.Williams,None,Georgia,1,0,4.0,0,6,4,3,3,0,NaN,NaN,19.7333
55106,Sun,2020-03-08,Georgia,32,S.Jackson,A,Georgia,3,3,6.0,2,10,4,5,2,0,NaN,NaN,24.0667
55107,Sun,2020-03-08,Georgia,44,C.Tutton,None,Georgia,0,0,-3.0,4,0,1,6,0,2,NaN,NaN,14.9
55108,Sun,2020-03-08,Georgia,45,J.Noble,A,Georgia,0,0,-5.0,0,1,0,3,0,1,NaN,NaN,13.1667
55109,Sun,2020-03-08,Georgia,55,B.Cole,None,Georgia,1,0,-4.0,2,1,1,0,1,1,NaN,NaN,14.6
55110,Sun,2020-03-08,Georgia,83,R.Staats,None,Georgia,4,3,7.0,0,11,7,6,2,1,NaN,NaN,19.8833
55111,Sun,2020-03-08,Georgia,29,K.Orleman,None,Georgia,0,0,NaN,0,0,0,0,0,0,NaN,NaN,NaN
55112,Sun,2020-03-08,Georgia,30,M.Poulin,None,Georgia,0,1,NaN,0,0,0,0,0,0,NaN,NaN,NaN
55113,Sun,2020-03-08,Colorado,2,P.Dawson,C,Rochester,1,0,-2.0,2,1,0,7,0,1,NaN,NaN,18.4
55114,Sun,2020-03-08,Colorado,3,D.Evans,A,Rochester,1,0,-2.0,0,1,0,5,0,0,NaN,NaN,14.55
55115,Sun,2020-03-08,Colorado,5,T.Evans,None,Rochester,3,0,2.0,0,8,5,4,2,0,NaN,NaN,21.9
55116,Sun,2020-03-08,Colorado,9,C.Knight,A,Rochester,0,6,3.0,0,13,5,9,2,0,NaN,NaN,25.1833
55117,Sun,2020-03-08,Colorado,11,D.Robertson,None,Rochester,0,0,-1.0,0,2,0,2,0,0,NaN,NaN,13.25
55118,Sun,2020-03-08,Colorado,17,R.Rees,None,Rochester,0,2,-1.0,0,1,0,7,1,2,NaN,NaN,19.1833
55119,Sun,2020-03-08,Colorado,19,H.Cattoni,None,Rochester,1,2,3.0,2,9,7,3,2,0,NaN,NaN,20.3667
55120,Sun,2020-03-08,Colorado,20,M.Bennett,None,Rochester,0,1,-3.0,0,0,0,7,0,0,NaN,NaN,19.5167
55121,Sun,2020-03-08,Colorado,21,L.Osborne,None,Rochester,0,0,2.0,0,4,2,3,3,0,NaN,NaN,12.2167
55122,Sun,2020-03-08,Colorado,23,D.Michel,None,Rochester,0,1,2.0,2,1,1,1,0,0,NaN,NaN,15.8667
55123,Sun,2020-03-08,Colorado,26,T.Whitty,None,Rochester,0,0,-3.0,0,0,0,2,1,0,NaN,NaN,19.0833
55124,Sun,2020-03-08,Colorado,29,T.Biles,None,Rochester,0,0,-4.0,0,0,1,3,1,1,NaN,NaN,18.2833
55125,Sun,2020-03-08,Colorado,32,D.Bridle,None,Rochester,0,1,2.0,0,4,3,6,2,0,NaN,NaN,20.6333
55126,Sun,2020-03-08,Colorado,34,D.Utting,None,Rochester,0,0,-1.0,2,1,0,3,0,0,NaN,NaN,14.6833
55127,Sun,2020-03-08,Colorado,45,C.Willman,None,Rochester,0,0,-1.0,0,1,0,3,0,0,8.0,14.0,12.9833
55128,Sun,2020-03-08,Colorado,75,J.Thorimbert,None,Rochester,0,0,-3.0,0,1,0,2,0,0,2.0,8.0,13.2667
55129,Sun,2020-03-08,Colorado,96,C.Highfield,None,Rochester,2,0,2.0,0,5,4,2,1,0,NaN,NaN,17.6333
55130,Sun,2020-03-08,Colorado,1,C.Wende,None,Rochester,0,0,NaN,0,0,0,0,0,0,NaN,NaN,NaN
55131,Sun,2020-03-08,Colorado,39,S.Fryer,None,Rochester,0,0,NaN,0,0,0,1,0,0,NaN,NaN,NaN
55132,Sun,2020-03-08,Colorado,3,T.Edwards,None,Colorado,0,1,1.0,0,0,0,1,0,0,11.0,17.0,14.4833
55133,Sun,2020-03-08,Colorado,4,J.Sullivan,None,Colorado,0,0,-3.0,0,1,0,2,0,1,NaN,NaN,12.5667
55134,Sun,2020-03-08,Colorado,7,T.Digby,None,Colorado,2,2,3.0,0,3,3,1,0,0,NaN,NaN,14.4667
55135,Sun,2020-03-08,Colorado,13,B.Craig,None,Colorado,0,1,-4.0,4,0,0,5,0,0,NaN,NaN,16.4333
55136,Sun,2020-03-08,Colorado,14,W.Jeffrey,None,Colorado,0,0,-1.0,0,0,0,5,0,0,NaN,NaN,16.8167
55137,Sun,2020-03-08,Colorado,16,R.Lee,None,Colorado,3,1,5.0,0,11,6,6,1,0,NaN,NaN,23.3667
55138,Sun,2020-03-08,Colorado,17,C.Wardle,None,Colorado,2,4,4.0,0,7,6,6,2,1,NaN,NaN,20.4833
55139,Sun,2020-03-08,Colorado,18,R.Hope,A,Colorado,0,0,-4.0,4,0,0,7,0,1,NaN,NaN,22.8833
55140,Sun,2020-03-08,Colorado,20,J.Ruest,None,Colorado,2,1,4.0,0,5,1,4,0,0,NaN,NaN,16.75
55141,Sun,2020-03-08,Colorado,23,J.Gilles,None,Colorado,0,0,-2.0,0,1,0,2,2,1,NaN,NaN,18.5333
55142,Sun,2020-03-08,Colorado,27,S.Carnegie,None,Colorado,0,1,-1.0,0,0,1,4,0,0,NaN,NaN,17.0167
55143,Sun,2020-03-08,Colorado,37,D.Coates,C,Colorado,0,0,-4.0,2,0,0,2,0,0,1.0,5.0,19.7833
55144,Sun,2020-03-08,Colorado,51,E.McLaughlin,None,Colorado,1,3,5.0,0,9,1,1,5,0,NaN,NaN,22.75
55145,Sun,2020-03-08,Colorado,55,D.Kinnear,None,Colorado,0,0,3.0,0,2,0,1,2,0,NaN,NaN,11.4
55146,Sun,2020-03-08,Colorado,82,J.Cupido,A,Colorado,0,0,-3.0,0,2,0,6,2,1,NaN,NaN,18.1167
55147,Sun,2020-03-08,Colorado,86,J.Lintz,None,Colorado,0,0,-1.0,2,0,0,1,0,0,NaN,NaN,16.35
55148,Sun,2020-03-08,Colorado,91,J.McNabb,None,Colorado,0,2,4.0,0,3,4,2,2,1,NaN,NaN,11.05
55149,Sun,2020-03-08,Colorado,30,T.Carlson,None,Colorado,0,0,NaN,0,0,0,3,1,0,NaN,NaN,NaN
55150,Sun,2020-03-08,Colorado,45,D.Ward,None,Colorado,0,0,NaN,0,0,0,1,0,0,NaN,NaN,NaN

In [19]:
#df.to_csv('CleanedNLLFloorPlayersGameStats.csv')