## NLL Floor Players Stats Per Game Scrape

Work by Alexander Palensky

For questions, 
contact me on [Twitter](https://twitter.com/AlPalensky)
or view my [Kaggle Account](https://www.kaggle.com/apalensky) for supplemental content

In [11]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import time
import csv

In [12]:
def tableText(table):    
    """
    Returns a list of column rows and a header if applicable. 
    """
    def getRowText(tr, coltag='td'):     
        return [td.get_text(strip=True) for td in tr.find_all(coltag)]  
    rowsList = []
    tableRows = table.find_all('tr')
    tableHeader = getRowText(tableRows[0], 'th')
    if tableHeader:
        rowsList.append(tableHeader)
        tableRows = tableRows[1:]
    for i in tableRows:
        rowsList.append(getRowText(i, 'td') )       
    return rowsList

In [13]:
def date_conversion(date):
     return datetime.datetime.strptime(date, ' %b %d, %Y')

In [14]:
def addTeams(df):
    i = 0
    q = int(df[df['Name']== 'Name'].index.values) + 1

    while i < len(df)-1:
        if i == (q-2):
            i += 1
        elif i == (q-1):
            df.loc[(q-2), 'Team'] = teamsList[0]
            i += 1
        elif int(df[df['Name'] == df.Name[i]].index.values) < (q-1):
            mask = int(df[df['Name'] == df.Name[i]].index.values)
            df.loc[mask, 'Team'] = teamsList[0]
            i += 1
        else:
            mask = int(df[df['Name'] == df.Name[i]].index.values)
            df.loc[mask, 'Team'] = teamsList[1]
            i += 1

In [15]:
def StatsTable(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content, "html.parser")
    table = soup.find(lambda tag: tag.name=='table' and tag.has_attr('id') and tag['id']=="roster") 
    rows = table.findAll(lambda tag: tag.name=='tr')[1]
    teams = table.findAll(lambda tag: tag.name=='tr')[0]
    
    teamsList = [team.text for team in teams.findAll(lambda tag: tag.name=='td')]
    list_table = tableText(rows)
        
    dftable = pd.DataFrame(list_table[1:], columns=list_table[0])
    dftable['Gameday'] = soup.title.string
        
    split1 = dftable['Gameday'].str.split(' - ', n = 1, expand = True)
    dftable['Date'] = split1[1]
        
    split2 = split1[0].str.split(' at ', n = 1, expand = True)
    dftable['Location'] = split2[1]
    dftable.drop(columns = ['Gameday'], inplace = True)
        
    split3 = dftable['Date'].str.split(',', n = 1, expand = True)
    dftable['Day'] = split3[0]
    dftable['Date'] = split3[1]
    dftable['Date'] = dftable['Date'].apply(date_conversion)
    
    q = int(dftable[dftable['Name']== 'Name'].index.values) + 1

    for i in range(0,(len(dftable)-1)):
        if i == q-2:
            continue
        else: 
            mask = int(dftable[(dftable['Name'] == dftable.Name[i]) & 
                               (dftable['#'] == dftable['#'][i])
                              & (dftable['LB'] == dftable['LB'][i])].index.values)

            if mask < (q-1):
                dftable.loc[mask, 'Team'] = teamsList[0]
            elif mask > (q-1):
                dftable.loc[mask, 'Team'] = teamsList[1]
            
    return dftable

In [16]:
url = 'https://laxreports.sportlogiq.com/nll/GS179.html'
# url1 = 'https://laxreports.sportlogiq.com/nll/GS2276.html'
# url2 = 'https://laxreports.sportlogiq.com/nll/GS800.html'
# url3 = 'https://laxreports.sportlogiq.com/nll/GS900.html'
# url4 = 'https://laxreports.sportlogiq.com/nll/GS810.html'

In [17]:
dftable1 = StatsTable(url)
df_list = [dftable1]
dftable1.head()

,#,Name,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO,TOF,Date,Location,Day,Team
0,0,T.Welsh,2,0,0,4,0,0,3,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
1,0,P.Welsh,0,0,0,2,0,0,5,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
2,0,J.Tucker,2,0,0,2,0,0,6,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
3,0,R.Sowell,0,0,0,0,0,0,0,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
4,0,D.Smith,0,0,0,0,0,0,3,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster

In [18]:
def StatsTableUpdate(urlsList):
    for url in urlsList:
        # print(url)
        dftablei = StatsTable(url)
        # print(dftablei.head(3))
        df_list.append(dftablei)
        time.sleep(1)

Test if having issues with any sites

In [19]:
# dftable2 = StatsTable('https://laxreports.sportlogiq.com/nll/GS920.html')
# dftable2.head()

In [20]:
urlsList = []

for i in range(236,2277):
    url = 'https://laxreports.sportlogiq.com/nll/GS{}.html'.format(i)
    r = requests.get(url)
    soup = BeautifulSoup(r.content, "html.parser")
    
    if bool(soup.findAll(text="html")):
        urlsList.append(url)

In [21]:
StatsTableUpdate(urlsList)

In [22]:
urlsList800 = urlsList

In [23]:
fulldf = pd.concat(df_list, ignore_index=True)
fulldf

,#,Name,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO,TOF,Date,Location,Day,Team
0,0,T.Welsh,2,0,0,4,0,0,3,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
1,0,P.Welsh,0,0,0,2,0,0,5,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
2,0,J.Tucker,2,0,0,2,0,0,6,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
3,0,R.Sowell,0,0,0,0,0,0,0,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
4,0,D.Smith,0,0,0,0,0,0,3,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59619,86,J.Lintz,0,0,-1,2,0,0,1,0,0,-,16:21,2020-03-08,Colorado,Sun,Colorado Roster
59620,91,J.McNabb,0,2,4,0,3,4,2,2,1,-,11:03,2020-03-08,Colorado,Sun,Colorado Roster
59621,30,T.Carlson,0,0,,0,0,0,3,1,0,-,,2020-03-08,Colorado,Sun,Colorado Roster
59622,45,D.Ward,0,0,,0,0,0,1,0,0,-,,2020-03-08,Colorado,Sun,Colorado Roster
59623,,Totals:,10,16,,12,44,22,60,17,6,12-22,,2020-03-08,Colorado,Sun,NaN

In [24]:
fulldf.head(50)

,#,Name,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO,TOF,Date,Location,Day,Team
0,0,T.Welsh,2,0,0,4,0,0,3,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
1,0,P.Welsh,0,0,0,2,0,0,5,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
2,0,J.Tucker,2,0,0,2,0,0,6,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
3,0,R.Sowell,0,0,0,0,0,0,0,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
4,0,D.Smith,0,0,0,0,0,0,3,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
5,0,T.Millon,1,0,0,2,0,0,2,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
6,0,B.Marino,1,1,0,0,0,0,1,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
7,0,T.Manos,0,0,0,0,0,0,0,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
8,0,B.Kroneberger,1,0,0,0,0,0,2,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
9,0,M.Kerwick,1,0,0,0,0,0,0,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
10,0,J.Jackson,0,0,0,0,0,0,2,0,0,3-3,,1993-03-28,New York,Sun,Baltimore Roster
11,0,F.Haas,0,1,0,0,0,0,0,0,0,7-7,,1993-03-28,New York,Sun,Baltimore Roster
12,0,R.Fried,0,1,0,0,0,0,0,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
13,0,T.Curry,0,2,0,2,0,0,2,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
14,0,D.Britton,0,1,0,0,0,0,2,0,0,2-2,,1993-03-28,New York,Sun,Baltimore Roster
15,0,J.Blanding,1,0,0,0,0,0,5,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
16,0,V.Angotti,0,0,0,0,0,0,7,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
17,0,D.Lee,0,0,0,0,0,0,2,0,0,-,,1993-03-28,New York,Sun,Baltimore Roster
18,,Totals:,9,6,,12,0,0,42,0,0,12-12,,1993-03-28,New York,Sun,NaN
19,#,Name,G,A,+/-,PIM,S,SOFF,LB,T,CT,FO,TOF,1993-03-28,New York,Sun,NaN
20,0,V.Pfeifer,0,0,0,0,0,0,0,0,0,-,,1993-03-28,New York,Sun,New York Roster
21,0,V.Sombrotto,0,0,0,0,0,0,12,0,0,-,,1993-03-28,New York,Sun,New York Roster
22,0,S.Tierney,0,0,0,0,0,0,4,0,0,-,,1993-03-28,New York,Sun,New York Roster
23,0,C.Sullivan,0,1,0,0,0,0,1,0,0,-,,1993-03-28,New York,Sun,New York Roster
24,0,S.Sombrotto,0,0,0,0,0,0,7,0,0,-,,1993-03-28,New York,Sun,New York Roster
25,0,M.Red Arrow,0,0,0,0,0,0,0,0,0,2-2,,1993-03-28,New York,Sun,New York Roster
26,0,G.Purdie,0,1,0,2,0,0,5,0,0,4-4,,1993-03-28,New York,Sun,New York Roster
27,0,M.Panetta,1,1,0,0,0,0,6,0,0,-,,1993-03-28,New York,Sun,New York Roster
28,0,K.Owens,1,0,0,0,0,0,1,0,0,-,,1993-03-28,New York,Sun,New York Roster
29,0,T.McIntee,0,1,0,0,0,0,10,0,0,-,,1993-03-28,New York,Sun,New York Roster
30,0,P.McCabe,0,0,0,0,0,0,8,0,0,-,,1993-03-28,New York,Sun,New York Roster
31,0,A.Kraus,1,0,0,0,0,0,9,0,0,4-4,,1993-03-28,New York,Sun,New York Roster
32,0,S.Huff,2,0,0,0,0,0,4,0,0,-,,1993-03-28,New York,Sun,New York Roster
33,0,M.Cummings,0,2,0,0,0,0,4,0,0,-,,1993-03-28,New York,Sun,New York Roster
34,0,B.Cummings,1,1,0,0,0,0,5,0,0,-,,1993-03-28,New York,Sun,New York Roster
35,0,R.Codignotto,2,0,0,4,0,0,5,0,0,-,,1993-03-28,New York,Sun,New York Roster
36,0,D.Borges,2,0,0,0,0,0,7,0,0,-,,1993-03-28,New York,Sun,New York Roster
37,0,S.LoCascio,0,0,0,0,0,0,3,0,0,-,,1993-03-28,New York,Sun,New York Roster
38,,Totals:,10,7,,6,0,0,91,0,0,10-10,,1993-03-28,New York,Sun,NaN
39,4,B.Silcott,0,1,0,0,0,0,0,0,0,15-32,,1995-04-08,Philadelphia,Sat,Rochester Roster
40,5,M.Riter,1,2,0,0,0,0,4,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
41,7,B.Lemon,1,1,0,2,0,0,5,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
42,11,R.Thorpe,0,3,0,2,0,0,5,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
43,14,R.Lyons,2,3,0,0,0,0,2,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
44,15,P.Parke,2,0,0,0,0,0,5,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
45,16,J.Hollenbeck,0,1,0,0,0,0,2,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
46,19,P.Gait,5,3,0,0,0,0,5,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
47,23,M.Burnam,0,1,0,2,0,0,5,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
48,29,C.Henry,0,0,0,0,0,0,0,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster
49,33,T.Soudan,0,2,0,0,0,0,9,0,0,-,,1995-04-08,Philadelphia,Sat,Rochester Roster

In [25]:
# fulldf.to_csv('NLLFloorPlayersGameStats.csv')